<div
  class="
  draggable-object-target
    {{if this.acceptsDrag 'accepts-drag'}}
    {{if this.selfDrop 'self-drop'}}
  "
  {{on 'click' this.onClick}}
  {{on 'mousedown' this.onMouseDown}}
  {{on 'mouseenter' this.onMouseEnter}}
  {{on 'dragleave' this.onDragLeave}}
  {{on 'dragstart' this.onDragStart}}
  {{on 'dragenter' this.onDragEnter}}
  {{on 'dragover' this.onDragOver}}
  {{on 'drop' this.onDrop}}
  ...attributes
>
  {{yield}}
</div>